* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #faeeff;
}

.header-img {
  background: url(./assets/images/background-pattern-desktop.svg);
  object-fit: cover;
  height: 25%;
  width: 100%;
  position: relative;
  /*it allow us to make elements inside it above or below it withour problems*/
  top: 0;
  z-index: -1;
  overflow: hidden;
}

.container {
  width: 470px;
  gap: 10px;
  background-color: white;
  padding: 30px;
  /*this margin is like -> top - middle - bottom
    margin -> -80 this is move the element to the top by 80 so that is will be above the header background
    mragin -> auto it make it in the middle form the right and left
    margin -> 50px make space under the card by 50px to make space it and the items bleow it 
  */
  margin: -80px auto 50px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.container .title {
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
}

.container .title img {
  width: 30px;
  margin-right: 10px;
}

.container .element .question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  letter-spacing: 0.1px;
}

.container .element .question p:hover {
  color: gray;
}

.container .element .question img {
  width: 20px;
  cursor: pointer;
}

.container .element .answer {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition:
    max-height 0.8s ease-in,
    opacity 0.8s ease-in;
}

.container .element .answer.active {
  max-height: 500px;
  opacity: 1;
}
.container .element .answer.inactive {
  max-height: 0;
  opacity: 0;
}

@media screen and (max-width: 490px) {
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .header-img {
    background: url(./assets/images/background-pattern-mobile.svg);
    width: 100%;
    top: 0;
    right: 0;
  }
  .container {
    width: 370px;
    gap: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
}

@media screen and (max-width: 426px) {
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .header-img {
    background: url(./assets/images/background-pattern-mobile.svg);
    width: 100%;
    top: 0;
    right: 0;
  }
  .container {
    width: 350px;
    gap: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .container .question,
  .container .answer {
    font-size: 15px;
  }
}

@media screen and (max-width: 320px) {
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .header-img {
    background: url(./assets/images/background-pattern-mobile.svg);
    width: 100%;
    top: 0;
    right: 0;
  }
  .container {
    width: 300px;
    gap: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .container .question,
  .container .answer {
    font-size: 10px;
  }
}
